<div class="container">
    <h2><span class="title">ユーザ詳細ページ</span></h2>
    <table class="user-table">
        <tbody>
            <tr><td class="user-show-box01">ユーザネーム:</dt><td><%= @user.name %></td></tr>
            <tr><td>email:</dt><td><%= @user.email%></td></tr>
        </tbody>
    </table>

    <ul class="list-link-box">
        <li class="link">
            <%= link_to edit_user_path, class: "go-button" do %>
                プロフィールを編集
            <% end %>
        </li>
        <li class="link">
            <%= link_to test_path(@user), class: "back-button" do %>
                テスト一覧に戻る
            <% end %>
        </li>
    </ul>
</div>