/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.container {
    margin: 30px;
}

h2 {
    text-align: center;
}
.title {
    font-size: 2.0rem;
    font-weight: bold;
}

.go-button {
    display: block;
    margin: 10px auto;
    width: 160px;
    height: 30px;
    background-color: #20d17e;
    border: 2px solid #20d17e;
    transition: .4s;
}

.go-button:hover {
    background-color: azure;
}

a.go-button {
    color: azure;
    text-align: center;
    line-height: 175%;
}

a.go-button:hover {
    color: #20d17e;
}

.back-button {
    display: block;
    margin: 10px auto;
    width: 160px;
    height: 30px;
    background-color: #0d6efd;
    border: 2px solid #0d6efd;
    transition: .4s;
}

.back-button:hover {
    background-color: azure;
}

a.back-button {
    color: azure;
    text-align: center;
    line-height: 175%;
}
a.back-button:hover {
    color: #0d6efd;
}
.list-link-box {
    text-align: center;
}
.list-link-box .link {
    margin: 20px;
}