.test-index-user {
    display: block;
    margin: 30px;
    text-align: center;
}
.new-test-innder {
    max-width: 500px;
    padding: 15px 20px;
    margin: 0 auto;
}
.test-table {
    margin: 20px auto;
    border: 1px solid;
    padding: 10px;
}
.test-index-title {
    padding-left: 120px;
}
.test-index-box01 {
    width: 200px;
    padding-left: 30px;
}
input#test_title {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #1b2538;
    line-height: 1.5rem;
}
.update-link {
    margin-left: 10px;
}
.delete-link {
    margin-left: 10px;
}