.user-table {
    margin: 20px auto;
    border: 1px solid;
    padding: 10px;
}
td:first-child {
    width: 120px;
}
.edit-field {
    width: 500px;
    margin: 10px auto;
}
.button-box {
    text-align: center;
}