<div class="container">
    <h2><span class="title">テスト管理アプリ</span></h2>
    <span class="test-index-user">ようこそ、<%= current_user.name %>さん！</span>

    <ul class="list-link-box">
        <li class="link">
            <%= link_to test_path(current_user), class: "go-button" do %>
                テスト一覧
            <% end %>
        </li>
        <li class="link">
            <%= link_to user_path(current_user), class: "go-button" do %>
                ユーザ詳細
            <% end %>
        </li>
        <li class="link">
            <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "back-button" do %>
                ログアウト
            <% end %>
        </li>
    </ul>
</div>