<div class="container">
    <h2><span class="title">テスト一覧</span></h2>
    <p>ようこそ、<%= current_user.name %>さん！</p>
    <%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
        ログアウト
    <% end %><br>
    <%= link_to user_path(current_user) do %>
        ユーザ詳細ページ
    <% end %>
</div>